body{
    font-family:  Verdana, "Open Sans", Helvetica, Arial;
    letter-spacing: 0px;
}

/*Style navigation bar*/
.navbar{
    margin-top: 0px;
    padding: 0px;
    display: block;
    color: white;
    background-color: rgb(61, 58, 58);
    border-bottom: 1px solid white;
        
}

.nav{
    display:block;
    margin:0px;
}


.nav li a{
    font-weight: bolder;
    
}  
.nav li a{
    font-size: 1.2rem;
    position: relative;
    display: block;
    padding: 1.2rem;
    font-weight: 800;
    line-height: 2rem;
    letter-spacing: -0.2px;
    margin-left: 0.4rem;   
}
.nav li a:hover {
    cursor: pointer;
    color: #4f51d9;
}
#aa{
    border-right: 1px solid white;
    color: #ffffff !important;
    background: #4f51d9;
    margin-left: -7rem;
    padding-left: 12rem;
    text-transform: capitalize;
    font-size: 2rem;
    text-align: right;
    padding-right: 1.2rem;
    font-weight: 900;
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    width: 53rem;
    margin-right: 1.2rem;
    line-height: 2rem;
    float:left;
}



 


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
	#aa{
		display:none;
	}
}